@import '../../styles/utils/colors';

.submitButton{
  $height: 50px;

  text-align: center;
  color: white;
  line-height: $height;
  font-size: 20px;
  border-radius: $height / 2;
  font-weight: 600;
  background-color: $grass-blade;
  padding: 0 3em;
  cursor: pointer;

  &--loading{
    position: absolute;
    max-height: $height;
    transform: scale(0.7);
  }
}